@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-strong tracking-wide
}

@layer base {
  .portfolio-content {
    @apply w-full lg:h-screen p-8 lg:p-16 place-self-center
  }
}

img, video {
  max-width: unset;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold
}

h1 {
  @apply text-3xl sm:text-5xl md:text-6xl
}

h2 {
  @apply text-2xl sm:text-4xl
}

li {
  @apply cursor-pointer
}

button {
  @apply shadow-xl shadow-soft rounded-xl uppercase bg-gradient-to-r from-red-300 to-blue-400 text-white
}